{% extends "email/replies/base_inbox.html" %}
{% block message %}
    <p style="margin: 1em 0px; margin-bottom: 0px; margin-top: 0px;">
        {{ user.full_name }} согласован (-а) на вакансию {{ vacancy.title }} 
        {% if vacancy.selection_type == "mass" %}
            (ID вакансии: {{ vacancy.id }}).
        {% else %}
            (ID вакансии: {{ vacancy.id }}, ID вакансии в SAP: {{ vacancy.sap_id }}).
        {% endif %}
    </p>

    <p style="line-height: 160%;">
        <strong>Дополнительная информация:</strong>
        <br><strong>ФИО руководителя вакансии:</strong> {{ manager.full_name }}
        <br><strong>E-mail руководителя вакансии:</strong> {{ manager.email }}
    </p>
{% endblock message %}
{% block link %}
<a href="{{hr_vacancies_link}}" style="color: #34aaf2; text-decoration: none;">

        Перейти на портал

    </a>
{% endblock link %}
